// EXTERNAL STYLES
@import url('https://fonts.googleapis.com/css?family=Poppins:regular,bold,italic&subset=latin,latin-ext');

// LOCAL VARS
$main-color: #326789;
$secondary-color: #78A6C8;
$third-color: #E9EEF2;
$fourth-color: #E65C4F;

// GLOBAL STYLE
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.collapse {
    transition: 0s;
}

// EXPLANATION STYLE
.explanation-container {
    display: flex;
    align-items: center;
    height: 200px;

    .site-title {
        background-color: $main-color;
        color: rgb(230, 255, 234);
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: underline;
        height: 104%;
        padding: 10px 0;
        width: 35%;
    }

    .explanation-info {
        align-items: center;
        background-color: $main-color;
        border-left: 2px dotted $fourth-color;
        display: flex;
        font-size: 18px;
        flex-direction: column;
        height: 100%;
        padding: 10px 20px;
        width: 65%;

        p {
            
            &:not(:last-of-type) {
                color: rgb(230, 255, 234);
                text-align: right;
            }

            &:last-of-type {
                font-size: 12px;
            }
        }

        .site-aclaration {
            color: rgb(230, 255, 234);
        }
    }
}

////// ============= PROFILE STYLE

.profile-container {

    .profile-info {
        align-items: flex-start;
        box-shadow: 0px 2.80px 7.70px 2.80px rgba(0, 0, 0, 0.10);
        display: flex;
        flex-wrap: wrap;
        height: auto;
        margin: 2% 5%;
        padding: 20px 10px 0;
        width: 90%;
        
        .info-left-side {
            align-items: flex-start;
            border-right: 1px solid #000;
            display: flex;
            height: 100%;
            padding-right: 10px;
            width: 60%;

            .profile-photo {
                height: 100%;
                margin-left: 5%;
                width: 250px;
    
                img {
                    height: 100%;
                    width: 210px;
                }
            }

            .profile-personal-info {
                width: inherit;

                .profile-name {
                    align-items: center;
                    justify-content: space-between;
                    display: flex;

                    p {

                        &:first-of-type {
                            font-size: 32px;
                            font-weight: 500;
                            width: 75%;
                        }

                        &:last-of-type {
                            font-size: 26px;
                            margin-top: 4px;
                            margin-right: 20px;
                        }
                    }
                }

                .profile-profession {
                    font-size: 20px;
                }

                .profile-about {
                    font-size: 16px;
                }
            }
        }

        .info-right-side {
            display: flex;
            flex-direction: column;
            height: 100%;
            margin-left: 3%;
            padding-top: 5px;

            .profile-contact, .profile-professional-info {

                .profile-flex {
                    display: flex;
                    
                    p {
                        margin-bottom: 5px;

                        &:first-of-type {
                            margin-right: 15px;
                        }

                        &:nth-child(even) {
                            font-size: 16px;
                        }

                        a {
                            color: #222;
                            text-decoration: none;
            
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }

            .profile-social-media {
                align-items: center;
                display: flex;
                width: 100%;

                .social-media-container {

                    &.no-rrss {
                        display: none;
                    }

                    font-size: 20px;
                    margin-right: 20px;

                    svg {

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .profile-config {
            align-items: flex-end;
            display: flex;
            flex-direction: column;
            margin: 20px 20px 0;
            width: 100%;

            button {
                background-color: $main-color;
                border: none;
                border-radius: 20px;
                box-shadow: 0px 2.80px 7.70px 2.80px rgba(0, 0, 0, 0.10);
                color: $third-color;
                font-size: 16px;
                margin: 20px 0;
                padding: 10px 20px;
                transition: .5s;
                width: 20%;

                &:hover {
                    box-shadow: 0px 2.80px 9.70px 4.80px rgba(0, 0, 0, 0.10);
                    cursor: pointer;
                }
            }
        }
    }

    .profile-form {
        display: flex;
        padding: 20px 0;

        .select-forms {
            display: flex;
            flex-direction: column;
            width: 15%;

            button {
                background-color: $secondary-color;
                border: 1px solid $secondary-color;
                border-left: none;
                border-right: none;
                padding: 10px 0;
                transition: .5s;

                &:focus-within, &:focus-visible, &:focus, &:hover, &.active {
                    background-color: $main-color;
                    border: 1px solid $secondary-color;
                    border-left: none;
                    border-right: none;
                }

                &:not(:last-of-type) {
                    border-bottom: none;
                }
            }
        }

        .forms-container {
            display: flex;
            justify-content: center;
            width: 75%;

            .form-container {
                box-shadow: 0px 2.80px 7.70px 2.80px rgba(0, 0, 0, 0.10);
                display: flex;

                .form-explanation {
                    background-color: $main-color;
                    color: $third-color;
                    padding: 30px;
                    width: 30%;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                }

                form {
                    align-items: flex-start;
                    background-color: $secondary-color;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    padding: 30px 50px;
                    width: 70%;

                    .input-container {
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 10px;
                        width: 50%;

                        &.no-showing {
                            display: none;
                        }

                        &.large-input {
                            width: 100%;
                        }

                        &.small-input {
                            width: 47.5%;

                            &:nth-child(even) {
                                margin-left: 5%;
                            }
                        }

                        input {
                            border: 1px solid $main-color;
                            border-radius: 5px;
                            padding: 5px;

                            &:focus, &:focus-visible, &:focus-within {
                                border: 1px solid $main-color;
                                outline: none;
                            }
                        }

                        textarea {
                            min-height: 100px;
                            border: 1px solid $main-color;
                            border-radius: 5px;
                            padding: 5px;

                            &:focus, &:focus-visible, &:focus-within {
                                border: 1px solid $main-color;
                                outline: none;
                            }
                        }

                        button {
                            background-color: $main-color;
                            border: none;
                            border-radius: 20px;
                            box-shadow: 0px 2.80px 7.70px 2.80px rgba(0, 0, 0, 0.10);
                            color: $third-color;
                            font-size: 16px;
                            margin: 20px auto;
                            padding: 10px 20px;
                            transition: .5s;
                            width: 45%;
            
                            &:hover {
                                box-shadow: 0px 2.80px 9.70px 4.80px rgba(0, 0, 0, 0.10);
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}

// FOOTER STYLE
footer {
    background-color: $fourth-color;
    color: #222;
    display: flex;
    padding: 20px 40px 40px;

    .footer-left-side {
        width: 50%;

        .footer-title {
            font-size: 20px;
        }

        .rrss-section {

            a {
                color: #222;
                margin-left: 10px;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .footer-right-side {
        width: 50%;

        .footer-title {
            font-size: 20px;
        }

        .rrss-section {
            display: flex;
            flex-direction: column;

            .rrss-container {

                a {
                    color: #222;
                    margin-left: 10px;
                    text-decoration: none;
    
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}